.home {
    border: 2px solid;
    border-radius: 25px;
    height: 30px;
    width: 80px;
    text-align:center;
    float: right;
    box-shadow: 2px 2px 2px #888888;
    background: #dddddd;
    -webkit-transition: width 2s, height 2s,-webkit-transform 2s;
}
.buscar {
    border: 2px solid;
    border-radius: 25px;
    height: 30px;
    width: 80px;
    text-align:center;
    float: right;
    box-shadow: 2px 2px 2px #888888;
    background: #dddddd;
    /*-webkit-transition: width 2s, height 2s,-webkit-transform 2s;
*/
}
.blog {
    margin: 10px 10px 10px 50px;
}
/*.buscar:hover {
    width: 80px;
    height: 30px;
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    background: #FFD700;
}*/

.home:hover {
    width: 80px;
    height: 30px;
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    background: #FFD700;
}
.cuadro {background-color: #b0c4de; box-shadow: 2px 2px 2px #888888;}
.cabeza {
background-color: #b0c4de;
text-align:center;
border-style: outset;
box-shadow: 2px 2px 2px #888888;
}
.texto1 {
background-color: #b0c4de;
text-align:center;
border-style: outset;
box-shadow: 2px 2px 2px #888888;
    height: 300px;
    width: 950px;
margin: 10px 10px 10px 170px;
}
.post {

background-color: #b0c4de;
text-align:center;
border-style: outset;
box-shadow: 2px 2px 2px #888888;
    height: 300px;
    width: 950px;
/*margin: 10px 10px 10px 170px;*/
margin:0 auto 0 auto;
display: none;
}
/* ingresso */
form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
    width:100px;
    background-color:#cc0000;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
}

.list {
    font-family:garamond;
    color:#cc0000;
}
.aco {
    background-color:#AFEEEE; 
    margin:0 auto;
    width:950px; 
    border-width: medium; border-style: outset;
    text-align:center;
border-style: outset;
box-shadow: 2px 2px 2px #888888;

    display: none;
}

